In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv("1_data_ajarn.csv")
df2 = pd.read_csv("scopus_filtered.csv")
df3 = pd.read_csv("100_000_filtered.csv")
df4 = pd.read_csv("10000_filtered.csv")

In [51]:
df3.isnull().sum()

Title                  0
Source title          43
Cited by               6
Authors Country     7980
Author Keywords    20410
Year                   0
dtype: int64

In [52]:
df2 = df2.dropna()
df3 = df3.dropna()
df4 = df4.dropna()

In [53]:
df1.head(5)

,Year,Title,PublicationName,CitedByCount,AffiliationCountry,AuthorKeywords
0,2021,Does proactive logistics management enhance bu...,Polish Journal of Management Studies,0,"Thailand,Thailand,Thailand,Myanmar,Thailand","Business management,Firm size,Logistics awaren..."
1,2021,"Will There Ever Be Cure for Chronic, Life-Chan...",Frontiers in Medicine,3,"Thailand,Thailand,Thailand,Thailand,Thailand,J...","biofilm infections,chronic infection,chronic u..."
2,2021,Bacterial diversity and potential risk factors...,PeerJ,6,"United States,Thailand","Escherichia coli,Risk factors,Salmonella enter..."
3,2021,Global Perspectives on Immunization Against SA...,Frontiers in Immunology,9,"Canada,South Africa,South Africa,United States...","COVID-19,maternal immunization,maternal vaccin..."
4,2021,Deep Learning Enables Prostate MRI Segmentatio...,Frontiers in Oncology,4,"United States,United States,China,Thailand,Uni...","deep attentive neural network,large cohort eva..."

In [54]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7667 entries, 0 to 7666
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Year                7667 non-null   int64
 1   Title               7667 non-null   object
 2   PublicationName     7667 non-null   object
 3   CitedByCount        7667 non-null   int64
 4   AffiliationCountry  7667 non-null   object
 5   AuthorKeywords      7667 non-null   object
dtypes: int64(2), object(4)
memory usage: 359.5+ KB

In [55]:
df2.head(5)

,Title,Source title,Cited by,Authors Country,Author Keywords,Year
0,"Design, synthesis, and biological investigatio...",Journal of Enzyme Inhibition and Medicinal Che...,4,Italy,"antiproliferative activity, Carbonic anhydrase...",2023
1,Structure-Activity Relationships of Pyrazolo[1...,ACS Infectious Diseases,11,"United Kingdom, United States, South Africa","antitubercular activity, pyrazolo[1,5- a]pyrim...",2021
2,"Design and synthesis of new imidazo[1,2-a]pyri...",European Journal of Medicinal Chemistry,28,Hungary,"A375P, Antiproliferative activity, Diarylamide...",2016
3,"Discovery, structural insight, and bioactiviti...",European Journal of Medicinal Chemistry,40,China,"BD2, BET protein, Bromodomain, Crystal structu...",2019
4,"Synthesis and evaluation of imidazo[1,2-a]pyra...",European Journal of Medicinal Chemistry,4,China,"Antitumor, G proteins, Gαq/11 inhibitors, imid...",2022

In [56]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1314 entries, 0 to 1998
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Title            1314 non-null   object
 1   Source title     1314 non-null   object
 2   Cited by         1314 non-null   int64
 3   Authors Country  1314 non-null   object
 4   Author Keywords  1314 non-null   object
 5   Year             1314 non-null   int64
dtypes: int64(2), object(4)
memory usage: 71.9+ KB

In [57]:
df3.head(5)

,Title,Source title,Cited by,Authors Country,Author Keywords,Year
0,A rabbit monoclonal antibody-mediated lateral ...,International Journal of Biological Macromolec...,4.0,"Japan, United States","CTX-M, ESBL, Lateral flow immunoassay, LFIA, P...",2021
1,"blaCTX-M-152, a Novel Variant of CTX-M-group-2...",Frontiers in Microbiology,42.0,India,"Antibiotics, ESBL, Mechanisms of resistance, P...",2016
2,Studying semigroups using the properties of th...,"Bulletin of Irkutsk State University, Series M...",1.0,Pakistan,"Completely prime m-ideals, Irreducible m-ideal...",2021
4,Differential m ...,Molecular Cell,560.0,"China, Norway, United States",cap m ...,2018
5,Derived operators on M-fuzzifying convex spaces,Journal of Intelligent and Fuzzy Systems,10.0,China,"M-fuzzifying convex structure, M-fuzzifying co...",2019

In [58]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 73141 entries, 0 to 99999
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Title            73141 non-null  object
 1   Source title     73141 non-null  object
 2   Cited by         73141 non-null  float64
 3   Authors Country  73141 non-null  object
 4   Author Keywords  73141 non-null  object
 5   Year             73141 non-null  int64
dtypes: float64(1), int64(1), object(4)
memory usage: 3.9+ MB

In [3]:
rename_columns = {
    'Year': 'Year',
    'Title': 'Title',
    'Source title': 'PublicationName',
    'Cited by': 'CitedByCount',
    'Authors Country': 'AffiliationCountry',
    'Author Keywords': 'AuthorKeywords'
}
df2_renamed = df2[list(rename_columns.keys())].rename(columns=rename_columns)
df2_renamed = df2_renamed.reset_index(drop=True)
df2_renamed['CitedByCount'] = df2_renamed['CitedByCount'].astype(int)

# df3_renamed = df3[list(rename_columns.keys())].rename(columns=rename_columns)
# df3_renamed = df3_renamed.reset_index(drop=True)
# df3_renamed['CitedByCount'] = df3_renamed['CitedByCount'].astype(int)

# df4_renamed = df4[list(rename_columns.keys())].rename(columns=rename_columns)
# df4_renamed = df4_renamed.reset_index(drop=True)
# df4_renamed['CitedByCount'] = df4_renamed['CitedByCount'].astype(int)

# df4_renamed.head(5)

In [60]:
list(df4_renamed.columns)

['Year',
 'Title',
 'PublicationName',
 'CitedByCount',
 'AffiliationCountry',
 'AuthorKeywords']

In [61]:
list(df1.columns)

['Year',
 'Title',
 'PublicationName',
 'CitedByCount',
 'AffiliationCountry',
 'AuthorKeywords']

In [4]:
num1 = df1.shape[0]
num2 = df2_renamed.shape[0]
# num3 = df3_renamed.shape[0]
# num4 = df4_renamed.shape[0]
print(f"df1 has {num1} rows")
print(f"df2 has {num2} rows")
# print(f"df3 has {num3} rows")
# print(f"df4 has {num4} rows")
# print(f"sum of rows: {num1 + num2 + num3 + num4}")

df1 has 7667 rows
df2 has 2000 rows

In [5]:
# df_combined = pd.concat([df1, df2_renamed, df3_renamed, df4_renamed], ignore_index=True)
df_combined = pd.concat([df1, df2_renamed], ignore_index=True)
df_combined.shape[0]

9667

In [6]:
df_combined.to_csv('2_data_combined.csv', index=False)